#calculator {
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 1500px;
}

#calc-buttons {
  display: flex;
}

#calc-buttons button {
  width: 200px;
  height: 100px;
}

#clear-btn {
  flex-grow: 1;
}

#calc-numbers {
  display: flex;
  flex-wrap: wrap;
}

#calc-operators {
  display: flex;
  flex-direction: column;
}

#calc-display {
  display: flex;
  height: 100px;
  justify-content: flex-end;
  align-items: center;
  font-size: 48px;
  border: 1px solid black;
  padding-right: 10px;
}
